{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
{% endblock css%}
{% block js %}

<script type="text/javascript">
  
  $(document).ready(function() {
  
    $('#studiesDataTable').DataTable();

    $('#selectAllStudies').click ( function()    
     {        
       $("input[name='studyId']").prop('checked', $(this).is(':checked'));
     }
    );
    
  } );  
  
  function processCancel(obj){
  
      $("#addPatientForm").attr('action','/smellSurvey/displayPatientList/');          

      $("#addPatientForm").submit();
  
  }   
  
  function submitPatientForm(obj){
     
     defaultStudyId = $("#defaultStudyId").val();

     <!--alert(" %% 2" + defaultStudyId);-->
     
     if ( defaultStudyId == '' ){
     
      alert("The default study id must be selected for the patient.");
      
      return;
      
     }
        
      $("#addPatientForm").submit();
  
  }       

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Add Study Link</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<form method = "post" id = "addPatientForm" name = "addPatientForm" action="/smellSurvey/submitAddPatient/" >
 {% csrf_token %}
 <div class="row">  
  <!-- panel for sites -->  
  <div class="col-lg-12">
  {% if messages %}
  <p color="red">
    <ul>
     {% for message in messages %}
       <li>       
         <font color = "red">{{message|safe}}</font>
       </li>   
   {% endfor %}
   </ul>
  </p>
  {% endif %}  
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#addPatientPanel">
	      Study Link. (Click to toggle this panel.)
	    </a>
	  </h4>  
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
       <div id="addPatientPanel" class="panel-collapse collapse in" >      
	 
	<div class="form-group">
	    <label>Name:</label>
	    <input type="text" class="form-control" id = "patientName" name = "patientName" value = "" required/>
	    <p class="help-block">Please enter link name.</p>
	</div>    

	<!--<div class="form-group">-->
	    <!--<label>Email:</label>-->
	    <!--<input type="email" class="form-control" id = "patientEmail" name = "patientEmail" value = "" required/>-->
	    <!--<p class="help-block">Please enter email contact.</p>-->
	<!--</div> -->

	<!--<div class="form-group">-->
	    <!--<label>Password:</label>-->
	    <!--<input type="password" class="form-control" id = "patientPassword" name = "patientPassword" value = "" required/>-->
	    <!--<p class="help-block">Please enter password.</p>-->
	<!--</div> -->

	<div class="form-group">
	     <label>Select Default Administrator:</label>
	     <select class="form-control" id="defaultAdministratorId" name="defaultAdministratorId" required>
	        <option value = "" id="defaultAdministratorIdOption" name="defaultAdministratorIdOption">-- Select Administrator--</option>
		  {% for administrator in administrators %}
		<option value = "{{ administrator.id }}"> {{administrator.user.username}} </option>
		 {% endfor %}
	      </select> 
	</div> 

	<div class="form-group">
	     <label>Select Default Site:</label>
	     <select class="form-control" id="defaultSiteId" name="defaultSiteId" required>
	        <option value = "" id="defaultSiteIdOption" name="defaultSiteIdOption">-- Select Site--</option>
		  {% for site in sites %}
		<option value = "{{ site.id }}"  >{{site.name}}</option>
		 {% endfor %}
	      </select> 
	</div> 

      
    </div>
  </div>
</div>
 <div class="row">  
  <!-- panel for sites -->  
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#studyListPanel">
	      Select Studies. (Click to toggle this panel.)
	    </a>
	  </h4>  
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
       <div id="studyListPanel" class="panel-collapse collapse in" >      
        <div class="table-responsive"  style="height:300px;overflow-y:auto;" -webkit-scrollbar>

	<p>Please select study to associate with link.</p>  
  
	  <div class="table-responsive"  style="height:400px;overflow-y:auto;" -webkit-scrollbar>
	    <table id="studiesDataTable" name="studiesDataTable" class="display" cellspacing="0" width="100%">	  
	     <thead>
		<tr >
		  <th>Study</th>
		  <th>Default Study</th>
		</tr>
	     </thead>
	     <tbody>
	     {% for study in studies %}
	       <tr>
		 <td>{{study}}</td>
		 <td>
		    <div class="radio">
		      <label>
			<input type="radio" value="{{study.id}}" name ="defaultStudyId" id ="defaultStudyId" >
		      </label>
		    </div>		 
		 </td>
	       </tr>
	     {% endfor %}
	     </tbody>
	    </table>
	  </div>
	  <!-- /.table-responsive -->
	 </div>
	</div>
	<!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  <!-- /.col-lg-12 -->
  
 </div>
 <!-- /.row -->
 <!-- /.row -->
 
{% if not surveyUser.role.isTester %}
<div class="row">
  <div class="col-lg-12">
    <p class="text-center">
      <button type="button" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id = "submitButton" onclick = "javascript:window.history.back();">Cancel</button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btn-lg" value = "1" name = "submitButton" id = "submitButton" onclick = "javascript:submitPatientForm(this);">Generate Link</button>     
    </p>
  </div>
  <!-- /.col-lg-12 -->
 </div>
{% endif %} 
 <!-- /.row -->
</form>
{% endblock content %}
