{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
{% endblock css%}
{% block js %}

<script type="text/javascript">
 
 $(document).ready(function() {
    
    $('#questionAnswersTable').DataTable({
      paging: false   
    });
    
    var laptopOrBrowser = /iPhone|Android|Trident/.test(navigator.userAgent);   
    
    $("#laptopOrBrowser").val(laptopOrBrowser);   

  });
  
  function processCancel(obj){
  
      $("#addInstrumentAdministratorForm").attr('action','/smellSurvey/administerQuestionnaire/');          

      $("#addInstrumentAdministratorForm").submit();
  
  }

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->

<form method = "post" id = "smellSurveyForm" name = "smellSurveyForm" action="/smellSurvey/administerQuestionnaire/">
 
 {% csrf_token %} 
 
 <input type="hidden" name="laptopOrBrowser" id ="laptopOrBrowser" value = ""/>  
 
 <input type="hidden" name="studyId" id ="studyId" value = "{{study.id}}"/>
 <input type="hidden" name="siteId" id ="siteId" value = "{{site.id}}"/>
 
 <input type="hidden" name="questionnaireId" id ="questionnaireId" value = "{{questionnaire.id}}"/>
 <input type="hidden" name="administratorId" id ="administratorId" value = "{{administrator.id}}"/>
 
 <input type="hidden" name="patientId" id ="patientId" value = "{{patient.id}}"/>
 <input type="hidden" name="administrationId" id ="administrationId" value = "{{administration.id}}"/>
 
  <input type="hidden" name="upinId" id ="upinId" value = "{{upinId}}"/>
 
<div class="row">  
    <div class="col-lg-12"> 

     <div class="jumbotron"> 	
	<p>     
		<div class="container text-center" style="background-color:#D6D3D3;border-radius: 15px;">	
        <h2>			
			Please press “start” to begin the questionnaire</h2>
		</div>
	</p>


        <p>

	<button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id = "submitButton">Start</button>

      </p>
   </div>
 </div>
</div>

</form>
{% endblock content %}
