{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
{% endblock css%}
{% block js %}

<script type="text/javascript">
 
 $(document).ready(function() {
    
    $('#questionAnswersTable').DataTable({
      paging: false   
    });

  });
  
  function submitPrevious(obj){
  
      $("#smellSurveyForm").attr('action','/smellSurvey/administerQuestionnaireBackground/');          

      $("#smellSurveyForm").submit();
  
  }

</script>

{% endblock js %}

{% block content %}

<form method = "post" id = "smellSurveyForm" name = "smellSurveyForm" action="/smellSurvey/administerQuestionnaireSecond/">
 
 {% csrf_token %} 
 
 <input type="hidden" name="studyId" id ="studyId" value = "{{study.id}}"/>
 <input type="hidden" name="siteId" id ="siteId" value = "{{site.id}}"/>
 
 <input type="hidden" name="questionnaireId" id ="questionnaireId" value = "{{questionnaire.id}}"/>
 <input type="hidden" name="administratorId" id ="administratorId" value = "{{administrator.id}}"/>
 
 <input type="hidden" name="patientId" id ="patientId" value = "{{patient.id}}"/>
 
 <input type="hidden" name="upinId" id ="upinId" value = "{{upinId}}"/>
 
<div class="row">  
    <div class="col-lg-12"> 

     <div class="jumbotron"> 	
	<p>     
		<div class="container text-center" style="background-color:#D6D3D3;border-radius: 15px;">	
        <h2>			
			The goal of this questionnaire</h2>
		</div>
	</p>
		<div style="text-align:left;">
	<p>

	   Your anonymous health information will serve to better understand this condition and create future tools to:<br/>
	   <ul>
	   <li>
	   better predict prognosis
	   </li>
	   <li>
	   facilitate collaboration between different countries
	   </li>
	   <li>
	   predict responses to medical interventions
	   </li>
	   <li>
	   make a diagnosis
	   </li>
	   <li>
	   accelerate clinical smell and taste research 
	   </li>
	   <br/>
	    … and we will not ask your name.
	
	</p>
		</div>


        <p>

	<button type="submit" class="btn btn-primary btn-lg pull-left" value = "0" name = "submitButton" id = "submitButton" onclick="javascript:submitPrevious(this);">Previous</button>

	<button type="submit" class="btn btn-primary btn-lg pull-right" value = "0" name = "submitButton" id = "submitButton">Next</button>
	
      </p>
   </div>
 </div>
</div>

</form>
{% endblock content %}
