{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
{% endblock css%}
{% block js %}

<script type="text/javascript">
 
 $(document).ready(function() {
    
    $('#questionAnswersTable').DataTable({
      paging: false   
    });

  });
  
  function submitPrevious(obj){
  
      $("#smellSurveyForm").attr('action','/smellSurvey/administerQuestionnaireFirst/');          

      $("#smellSurveyForm").submit();
  
  }

</script>

{% endblock js %}

{% block content %}

<form method = "post" id = "smellSurveyForm" name = "smellSurveyForm" action="/smellSurvey/administerQuestionnaireThird/">
 
 {% csrf_token %} 
 
 <input type="hidden" name="studyId" id ="studyId" value = "{{study.id}}"/>
 <input type="hidden" name="siteId" id ="siteId" value = "{{site.id}}"/>
 
 <input type="hidden" name="questionnaireId" id ="questionnaireId" value = "{{questionnaire.id}}"/>
 <input type="hidden" name="administratorId" id ="administratorId" value = "{{administrator.id}}"/>
 
 <input type="hidden" name="patientId" id ="patientId" value = "{{patient.id}}"/>
 
 <input type="hidden" name="upinId" id ="upinId" value = "{{upinId}}"/>
 
<div class="row">  
    <div class="col-lg-12"> 

     <div class="jumbotron"> 	
	<p>     
		<div class="container text-center" style="background-color:#D6D3D3;border-radius: 15px;">	
		<h2>
			What type of questions will be asked? 
		</h2>
		</div>
	</p>
	<div style="text-align:left;">
	<p>

		We will ask questions about: <br/>
		<ul>
			<li>
				Your smell and taste symptoms (e.g. onset date, characteristic….)
			</li>
			<li>
				What may have caused these symptoms
			</li>
			<li>
				Received medical intervention (e.g. surgery, drugs, if it worked..)
			</li>
			<li>
				Other signs or conditions that may be associated with smell and taste issues
			</li>
			<li>
				Your past medical history
			</li>
			<li>
				Allergies
			</li>
			<li>
				Family history
			</li>
			<li>
				Social and professional environment 
			</li>
		</ul>

	   <br/>
	    … and we will not ask your name.
	
	</p>
	</div>

        <p>

	<button type="submit" class="btn btn-primary btn-lg pull-left" value = "0" name = "submitButton" id = "submitButton" onclick="javascript:submitPrevious(this);">Previous</button>

	<button type="submit" class="btn btn-primary btn-lg pull-right" value = "0" name = "submitButton" id = "submitButton">Next</button>
	
      </p>
   </div>
 </div>
</div>

</form>
{% endblock content %}
