{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
{% endblock css%}
{% block js %}

<script type="text/javascript">
  
 $(document).ready(function() {
    

  });
  
  function processCancel(obj){
  
      $("#editSiteForm").attr('action','/smellSurvey/listSites/');          

      $("#editSiteForm").submit();
  
  }

</script>

{% endblock js %}

{% block content %}

<form method = "post" id = "editSiteForm" name = "editSiteForm" action="/smellSurvey/submitEditSite/">
 {% csrf_token %} 
 <input type="hidden" name="siteId" id ="siteId" value = "{{site.id}}"/>

 <div class="row">  
  <!-- panel for sites -->  
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#editSitePanel">
	      Edit Site. (Click to toggle this panel.)
	    </a>
	  </h4>  
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
       <div id="editSitePanel" class="panel-collapse collapse in" >    

      <div class="form-group">
	<label>Name:</label>&nbsp;<input type = "text" id = "siteName" name = "siteName" value = "{{site.name}}" width = "200px;" required/>
	<p class="help-block">Name of site. </p>
      </div>  

      <div class="form-group">
	<label>Address / other contact information:</label>&nbsp;<input type = "text" id = "siteDescription" name = "siteDescription" value = "{{site.description}}" width = "200px;" required/>
	<p class="help-block">Address and any other contact information. </p>
      </div>  
      
    </div>
  </div>
</div>
{% if not surveyUser.role.isTester %}
 <!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <p class="text-center">
      <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id = "submitButton" onclick = "javascript:processCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-danger btn-lg" value = "1" name = "submitButton" id = "submitButton" >Update</button>     
    </p>
  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->
{% endif %}
</form>
{% endblock content %}
