{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css">

{% endblock css%}

{% block js %}

<script type="text/javascript">
 function submitUPINLink(obj){ 
  
      objId = obj.id;
    
      data = objId.split("-");
    
      if (data.length > 0){

         upinId = data[1];
    
      } 
    
    $("#upinId").val(upinId);

    $("#outputSummaryReportForm").submit();

  }
   function submitSummaryForm(obj){ 
   
    <!--alert("*");-->
  
    $("#outputSummaryReportForm").attr('action','/smellSurvey/createOutputSummaryReport/');     

    $("#outputSummaryReportForm").submit();

  }

   function submitUserSiteLink(obj){ 
   
      objId = obj.id;
    
      data = objId.split("-");
    
      instrumentAdministratorId = 0;
      siteId = 0;
    
      if (data.length > 0){

         instrumentAdministratorId = data[1];
         siteId = data[2];
    
      } 
    
    $("#selectedInstrumentAdministratorId").val(instrumentAdministratorId);   
    
    $("#selectedSiteId").val(siteId);  
    
    $("#siteOrStudySelectionFlag").val("1");  
  
    $("#outputSummaryReportForm").attr('action','/smellSurvey/listUserSiteUPINS/');     

    $("#outputSummaryReportForm").submit();

  }
  
   function submitUserStudyLink(obj){ 
   
      objId = obj.id;
    
      data = objId.split("-");
    
      instrumentAdministratorId = 0;
      studyId = 0;
    
      if (data.length > 0){

         instrumentAdministratorId = data[1];
         studyId = data[2];
    
      } 
    
    $("#selectedInstrumentAdministratorId").val(instrumentAdministratorId);   

    $("#selectedStudyId").val(studyId);   
    
    $("#siteOrStudySelectionFlag").val("2");  
   
    $("#outputSummaryReportForm").attr('action','/smellSurvey/listUserStudyUPINS/');     

    $("#outputSummaryReportForm").submit();

  }  

{% for siteReportPrintObj in siteReportPrintObjList %} 

  $(function () {

    $('#siteReportDiv-{{siteReportPrintObj.site.id}}').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80
        },


        title: {
            text: 'Site: {{siteReportPrintObj.site}}'
        },

        xAxis: {
            categories: [{% for monthYear in siteReportPrintObj.monthYearList %}"{{monthYear}}",{% endfor %}]
        },

        yAxis: {
            categories: [{% for instrumentAdministrator in siteReportPrintObj.instrumentAdministratorList %}"{{instrumentAdministrator}}",{% endfor %}],
            title: null
        },

        colorAxis: {
            min: 0,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return 'On ' + this.series.xAxis.categories[this.point.x] + ' <b>' +
                    this.point.value + '</b> patients <br></b> were administered by <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }	
        },

        series: [{
            name: 'Study: {{siteReportPrintObj.site}}',
            borderWidth: 1,
            data: [
	    
	    {% for summaryReportPrintObj in siteReportPrintObj.summaryReportPrintObjList %}[{{summaryReportPrintObj.monthYearId}},{{summaryReportPrintObj.instrumentAdministratorId}},{{summaryReportPrintObj.numAdministrations}}],{% endfor %}
	    
	    ],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]

    });
});

{% endfor %}

{% for studyReportPrintObj in studyReportPrintObjList %} 

  $(function () {

    $('#studyReportDiv-{{studyReportPrintObj.study.id}}').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80
        },


        title: {
            text: 'Study: Number of new patients per month-{{studyReportPrintObj.study}}'
        },

        xAxis: {
            categories: [{% for monthYear in studyReportPrintObj.monthYearList %}"{{monthYear}}",{% endfor %}]
        },

        yAxis: {
            categories: [{% for instrumentAdministrator in studyReportPrintObj.instrumentAdministratorList %}"{{instrumentAdministrator}}",{% endfor %}],
            title: null
        },

        colorAxis: {
            min: 0,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return 'On ' + this.series.xAxis.categories[this.point.x] + ' <b>' +
                    this.point.value + '</b> patients <br></b> were administered by <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },

        series: [{
            name: 'Study:Number of patient administrations-{{studyReportPrintObj.study}}',
            borderWidth: 1,
            data: [
	    
	    {% for summaryReportPrintObj in studyReportPrintObj.summaryReportPrintObjList %}[{{summaryReportPrintObj.monthYearId}},{{summaryReportPrintObj.instrumentAdministratorId}},{{summaryReportPrintObj.numAdministrations}}],{% endfor %}
	    
	    ],
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]

    });
});
{% endfor %}

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Summary Report </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "outputSummaryReportForm" name = "outputSummaryReportForm" action="/smellSurvey/scoreReport/" >

<input type="hidden" value="" name="upinId" id ="upinId"/> 

<input type="hidden" value="{{summaryReportSelectionsObj.startDate}}" name="startDate" id ="startDate"/> 
<input type="hidden" value="{{summaryReportSelectionsObj.endDate}}" name="endDate" id ="endDate"/>

<input type="hidden" value="" name="siteOrStudySelectionFlag" id ="siteOrStudySelectionFlag"/> 

{% for site in summaryReportSelectionsObj.sites %}
   <input type="hidden" value="{{site.id}}" name="siteId" id ="siteId"/> 
{% endfor %}
{% for study in summaryReportSelectionsObj.studies %}
   <input type="hidden" value="{{study.id}}" name="studyId" id ="studyId"/> 
{% endfor %}
{% for instrumentAdministrator in summaryReportSelectionsObj.instrumentAdministrators %}
   <input type="hidden" value="{{instrumentAdministrator.id}}" name="instrumentAdministratorId" id ="instrumentAdministratorId"/> 
{% endfor %}

<input type="hidden" value="" name="selectedSiteId" id ="selectedSiteId"/> 
<input type="hidden" value="" name="selectedStudyId" id ="selectedStudyId"/> 
<input type="hidden" value="" name="selectedInstrumentAdministratorId" id ="selectedInstrumentAdministratorId"/> 

<div class="row">
  <div class="col-lg-12">
   <p>Below is the summary report of usage of the bleeding pheotype questionnaire. The data and graphs for each site can be viewed by toggling the panels below by clicking on the panel headers. The selection parameters are also shown below.<br/>The graphs are interactive. If you mouse over the heatmap, a tooltip will display details of the cell in question. The X-axis has the months as MM-YYYY and the Y-axis has the instrument adminsitrators.</p>  
  </div>
</div>
 <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#selectionParametersPanel">
	      Selection Parameter Details. (Please click to toggle this panel.)
	    </a>
	  </h4>        
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
	<div id="selectionParametersPanel" class="panel-collapse collapse" >

	  <p class="text-center">
	    <h4>Start Date:</h4>{{summaryReportSelectionsObj.startDate}}
	    <br/>
	    <h4>End Date:</h4>{{summaryReportSelectionsObj.endDate}}	    
	  </p>

	  <p class="text-center">
	    <h4>Sites:</h4>
	    <ul>
	    {% for site in summaryReportSelectionsObj.sites %}
	       <li value="{{site.id}}">{{site}}</li> 
	    {% endfor %}	    	    
	    </ul>
	  </p>
	  <p class="text-center">
	    <h4>Studies:</h4>
	    <ul>
	    {% for study in summaryReportSelectionsObj.studies %}
	       <li value="{{study.id}}">{{study}}</li> 
	    {% endfor %}	    	    
	    </ul>
	  </p>	  
	  <p class="text-center">
	    <h4>Instrument Administrator:</h4>
	    <ul>
	    {% for instrumentAdministrator in summaryReportSelectionsObj.instrumentAdministrators %}
	       <li value="{{instrumentAdministrator.id}}">{{instrumentAdministrator}}</li> 
	    {% endfor %}	    	    
	    </ul>
	  </p>
	</div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    
     <div class="panel panel-primary">
      <div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#userSummaryPanel">
	      User Summary. (Please click to toggle this panel.)
	    </a>
	  </h4>        
      </div>
      <!-- /.panel-heading -->

	    <div id="userSummaryPanel" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		  <div class="panel-group" id="accordion2">
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion4" href="#userSiteSummaryPanel">
				  By Site &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="userSiteSummaryPanel" class="panel-collapse collapse">
			    <div class="panel-body">
			      <p>&nbsp;</p>
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" >
				 <thead>
				 
				   <tr>
				    <th>Administrator</th>
				   {% for site in summaryReportSelectionsObj.sites %} 
				     <th>{{site}}</th>
				   {% endfor %}
				   </tr>
				 </thead>
				 <tbody>      				 				 
				 {% for userReportPrintObj in userReportPrintSummaryObj.userReportPrintObjList %}
				     <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >
				         <td>{{userReportPrintObj.instrumentAdministrator}}
				       {% for userSiteReportPrintObj in userReportPrintObj.userSiteReportPrintObjList %}
				         <td>
				         {% if userSiteReportPrintObj.totalNumAdministrations > 0 %}<a href = "#" id = "userSiteSummaryLink-{{userReportPrintObj.instrumentAdministrator.id}}-{{userSiteReportPrintObj.site.id}}" onclick="javascript:submitUserSiteLink(this);">{% endif %}{{ userSiteReportPrintObj.totalNumAdministrations}}{% if userSiteReportPrintObj.totalNumAdministrations > 0 %}</a>{% endif %}
					</td>
					{% endfor %}
				      </tr>
				    {% endfor %}
				 </tbody>
			       </table>
			     </div>
			    </div>
			</div>
		    </div>
		  
		  </div>
		  <!-- end panel group -->			  

		  <div class="panel-group" id="accordion2">
		    <div class="panel panel-info" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion4" href="#userStudySummaryPanel">
				  By Study &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="userStudySummaryPanel" class="panel-collapse collapse">
			    <div class="panel-body">
			      <p>&nbsp;</p>
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" >
				 <thead>
				 
				   <tr>
				    <th>Administrator</th>
				   {% for study in summaryReportSelectionsObj.studies %} 
				     <th>{{study}}</th>
				   {% endfor %}
				   </tr>
				 </thead>
				 <tbody>      				 				 
				 {% for userReportPrintObj in userReportPrintSummaryObj.userReportPrintObjList %}
				     <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >
				         <td>{{userReportPrintObj.instrumentAdministrator}}
				       {% for userStudyReportPrintObj in userReportPrintObj.userStudyReportPrintObjList %}
				         <td>
				         {% if userStudyReportPrintObj.totalNumAdministrations > 0 %}<a href = "#" id = "userStudySummaryLink-{{userReportPrintObj.instrumentAdministrator.id}}-{{userStudyReportPrintObj.study.id}}" onclick="javascript:submitUserStudyLink(this);">{% endif %}{{ userStudyReportPrintObj.totalNumAdministrations}}{% if userStudyReportPrintObj.totalNumAdministrations > 0 %}</a>{% endif %}
					</td>
					{% endfor %}
				      </tr>
				    {% endfor %}
				 </tbody>
			       </table>
			     </div>
			    </div>
			</div>
		    </div>
		  
		  </div>
		  <!-- end panel group -->			  

	      <!--</div>-->

	      <!-- end panel body -->			    


	</div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  
    <!-- Example row of columns -->   
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" data-parent="#panels1" href="#sitesListPanel">
	     List of sites </b>&nbsp;( Please click to toggle this panel. )
	  </a>
	</h4>
      </div>
      <div id="sitesListPanel" class="panel-collapse collapse in">
      <p>&nbsp;</p>
      {% for siteReportPrintObj in siteReportPrintObjList %}  
	{% if siteReportPrintObj.numInstrumentAdministrators > 0 %}  
      
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#sitesPanel-{{siteReportPrintObj.site.id}}">
	  	   {{ siteReportPrintObj.site }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="sitesPanel-{{siteReportPrintObj.site.id}}" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		  <div class="panel-group" id="accordion2">
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#siteDataPanel-{{siteReportPrintObj.site.id}}">
				  Data &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="siteDataPanel-{{siteReportPrintObj.site.id}}" class="panel-collapse collapse">
			    <div class="panel-body">
			      <p>&nbsp;</p>
			     {% if siteReportPrintObj.summaryReportObj.totalAdminCount > 0 %}
			      <div class="table-responsive">

			       <table class="table table-striped table-bordered table-hover" >
				 <thead>
				   <tr>
				     <th width="10%">Administrator</th>
				     <th width="10%">Month-Year</th>		      
				     <th width="80%">UPINs</th>
				   </tr>
				 </thead>
				 <tbody>      				 				 
				 {% for monthYear, summaryReportMonthObj in siteReportPrintObj.summaryReportObj.monthYearMap.items %}
				    {% if summaryReportMonthObj.totalMonthAdminCount > 0 %}
				     <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >
				       <td>{% for instrumentAdministrator, summaryReportUserObj in summaryReportMonthObj.userMap.items %}
					    {% if summaryReportUserObj.adminCount > 0 %}{{instrumentAdministrator}}{% endif %}<br/>
				            {% endfor %}
					</td>
				       <td>{{monthYear}} 
				       </td>				       
				       <td>{% for instrumentAdministrator, summaryReportUserObj in summaryReportMonthObj.userMap.items %}
				              {% for administration in summaryReportUserObj.adminList %}
						{% if summaryReportUserObj.adminCount > 0 %}<a id = "siteScoreReportLink-{{administration.upin.id}}" href="#" onclick ="javascript:submitUPINLink(this);">{{administration.upin.id}}</a>,
						{% endif %}
					      {% endfor %}<br/> 
				            {% endfor %}
				       </td>
				      </tr>
				      {% endif %}
				    {% endfor %}
				 </tbody>
			       </table>
			     </div>
			     {% else %}
			       <p><b>No administrations were performed during this time period.</b></p>			     
			     {% endif %}
			    </div>
			</div>
		    </div>
		    <!-- end panel -->
		    <div class="panel panel-info" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion2" href="#sitesHeatMapPanel-{{siteReportPrintObj.site.id}}">            
				  HeatMap &nbsp;(  Please click to toggle this panel. )
			      </a>
			    </h4>
			</div>
			<div id="sitesHeatMapPanel-{{siteReportPrintObj.site.id}}" class="panel-collapse collapse in">
			  <div class="panel-body"> 
			    <div id="siteReportDiv-{{siteReportPrintObj.site.id}}" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>		  
			  </div>
			</div>
		    </div>
		  <!-- end panel -->			  
		  </div>
		  <!-- end panel group -->			  
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   </div> 
   {% endif %}
  {% endfor %}  	
   </div>
  </div>
  
    <!-- Example row of columns -->   
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" data-parent="#panels1" href="#studiesListPanel">
	     List of studys </b>&nbsp;( Please click to toggle this panel. )
	  </a>
	</h4>
      </div>
      <div id="studiesListPanel" class="panel-collapse collapse in">
      <p>&nbsp;</p>
      {% for studyReportPrintObj in studyReportPrintObjList %}   
	{% if studyReportPrintObj.numInstrumentAdministrators > 0 %}        
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#studyPanel-{{studyReportPrintObj.study.id}}">
	  	   {{ studyReportPrintObj.study }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="studyPanel-{{studyReportPrintObj.study.id}}" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		  <div class="panel-group" id="accordion2">
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#studyDataPanel-{{studyReportPrintObj.study.id}}">
				  Data &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="studyDataPanel-{{studyReportPrintObj.study.id}}" class="panel-collapse collapse">
			    <div class="panel-body">
			      <p>&nbsp;</p>
			     {% if studyReportPrintObj.summaryReportObj.totalAdminCount > 0 %}
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" >
				 <thead>
				   <tr>
				     <th width="10%">Administrator</th>
				     <th width="10%">Month-Year</th>		      
				     <th width="80%">UPINs</th>
				   </tr>
				 </thead>
				 <tbody>      				 				 
				 {% for monthYear, summaryReportMonthObj in studyReportPrintObj.summaryReportObj.monthYearMap.items %}
				    {% if summaryReportMonthObj.totalMonthAdminCount > 0 %}
				     <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >
				       <td> {% for instrumentAdministrator, summaryReportUserObj in summaryReportMonthObj.userMap.items %}
					    {% if summaryReportUserObj.adminCount > 0 %}{{instrumentAdministrator}}{% endif %}<br/>
				            {% endfor %}
				       </td>
				       <td>{{monthYear}}</td>				       
				       <td>{% for instrumentAdministrator, summaryReportUserObj in summaryReportMonthObj.userMap.items %}
				              {% for administration in summaryReportUserObj.adminList %}
						{% if summaryReportUserObj.adminCount > 0 %}<a id = "studyScoreReportLink-{{administration.upin.id}}" href="#" onclick ="javascript:submitUPINLink(this);">{{administration.upin.id}}</a>,
					      {% endif %}
					      {% endfor %}<br/> 
				            {% endfor %}
				       </td>
				      </tr>
				      {% endif %}
				    {% endfor %}
				 </tbody>
			       </table>
			    
			     </div>
			     {% else %}
			     <p><b>No administrations were performed during this time period.</b></p>
			     {% endif %}
			    </div>
			</div>
		    </div>
		    <!-- end panel -->
		    <div class="panel panel-info" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion2" href="#studysHeatMapPanel-{{studyReportPrintObj.study.id}}">            
				  HeatMap &nbsp;(  Please click to toggle this panel. )
			      </a>
			    </h4>
			</div>
			<div id="studysHeatMapPanel-{{studyReportPrintObj.study.id}}" class="panel-collapse collapse in">
			  <div class="panel-body"> 
			    <div id="studyReportDiv-{{studyReportPrintObj.study.id}}" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>		  
			  </div>
			</div>
		    </div>
		  <!-- end panel -->			  
		  </div>
		  <!-- end panel group -->			  
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   </div> 
   {% endif %}   
  {% endfor %}  	
   </div>
  </div>   
 </div>
</div>
  <p>
     <div class="form-group">
      <div class="checkbox">
	<label>
	  <input type="checkbox" value="1" name="printSelectionParameters" id="printSelectionParameters" ></input><b>Print selection parameters in download file.</b>
	</label>
      </div>
      <p class="help-block">Default is not to print selection parameters.</p>
    </div>  
  </p>
  <p class="text-center">
<p class="text-center">
   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitSummaryForm(this);">Cancel</button>&nbsp;&nbsp;&nbsp;
   <button type="submit" class="btn btn-danger btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:submitSummaryForm(this);" >Download Site/Study CSV Data</button>
   <button type="submit" class="btn btn-danger btn-lg" value = "2" name="submitButton" id="submitButton-2" onclick ="javascript:submitSummaryForm(this);" >Download User Summary Data</button>   
</p>

 <!-- /.row -->
</form>
{% endblock content %}

